Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [6]:
string='Nikita'
lst=[1,2,'NIKI',4]
flot=3.12
tupl=(1,2,'niki',5)
print("string is:",string)
print("list is:",lst)
print("float is:",flot)
print("tuple is:",tupl)

string is: Nikita
list is: [1, 2, 'NIKI', 4]
float is: 3.12
tuple is: (1, 2, 'niki', 5)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

In [19]:
var1 = ' '
var2 = '[DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python']
var4 = 1
print("Datatype of var1 is",type(var1))
print("Datatype of var2 is",type(var2))
print("Datatype of var3 is",type(var3))
print("Datatype of var4 is",type(var4))

Datatype of var1 is <class 'str'>
Datatype of var2 is <class 'str'>
Datatype of var3 is <class 'list'>
Datatype of var4 is <class 'int'>

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

(i) / : divisor operator -used for division.
(ii) % : modulo operator -gives remainder of division.
(iii) // : floor divisor - gives round down value after division for eg(ans-2.33 so it will give ans- 2).
(iv) ** : exponential operator - left value raised power to right

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [20]:
lst=[1,'niki','$',3.14,True,(5,6,7),{1,3,4},10,'doller',2.33]
for i in lst:
    print('datatype of value is',type(i))

datatype of value is <class 'int'>
datatype of value is <class 'str'>
datatype of value is <class 'str'>
datatype of value is <class 'float'>
datatype of value is <class 'bool'>
datatype of value is <class 'tuple'>
datatype of value is <class 'set'>
datatype of value is <class 'int'>
datatype of value is <class 'str'>
datatype of value is <class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [23]:
a=int(input('enter value 1'))
b=int(input('enter value 2'))
count=0
while a%b==0:
    a=a/b
    count +=1
    
if count>0:
    print(f"number divisible by{count} times")
else:
    print('not divisible')

enter value 149
enter value 27
number divisible by2 times

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [4]:
lst=[1,2,3,4,5,6,7,27,96,43,24,75,90,33,17,26,44,85,126,22,987,543,67,98,89]
for i in lst:
    if i%3==0:
        print(f"{i} is divisible by 3")
    else:
        print(f"{i} is not divisible by 3")
    #print(i)

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
27 is divisible by 3
96 is divisible by 3
43 is not divisible by 3
24 is divisible by 3
75 is divisible by 3
90 is divisible by 3
33 is divisible by 3
17 is not divisible by 3
26 is not divisible by 3
44 is not divisible by 3
85 is not divisible by 3
126 is divisible by 3
22 is not divisible by 3
987 is divisible by 3
543 is divisible by 3
67 is not divisible by 3
98 is not divisible by 3
89 is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

##### Mutable Data Types:
* Mutable objects can be altered or modified after creation.
* Changes to the object do not create a new object; the same object is modified.
* Examples of mutable data types in Python include lists, dictionaries, and sets.

In [10]:
#### Mutable example.
lst=[1,2,3]
print(lst)

[1, 2, 3]

In [11]:
lst[1]=4
print(lst)

[1, 4, 3]

here we can see 2nd element is changed is modifies or update existing data.

#### Immutable Data Types:
* Immutable objects cannot be altered or modified after creation.
* Any operation that appears to modify an immutable object actually creates a new object.
* Examples of immutable data types in Python include strings, tuples, and integers.

In [12]:
lst=(4,5,6)
print(lst)

(4, 5, 6)

In [13]:
lst[2]=10
print(lst)

TypeError: 'tuple' object does not support item assignment

Here we are getting error because i can not change the existing data in tuple whoch is immutable datatype.