**1 What are data structures, and why are they important?**

Data structures are ways to organize and store data in a computer so that it can be used efficiently.

Why are they important?
* Helps find things faster like searching names in a contact list.
* Organizes data neatly like stacking books by size or genre.
* Improves performance ,saves time and memory.
* Makes problem-solving easier like choosing the right tool for a job.

**2 Explain the difference between mutable and immutable data types with examples?**

**Ans -**
**Mutable:** Can be changed after creation.
Examples:
list,dictionary,set


**Immutable:** Cannot be changed after creation
Examples: tuple

**3 What are the main differences between lists and tuples in Python?**

**Ans -** Main difference between list and tuple is "tuples are immutable it can not be changed after creation but lists atre mutable which allow user to change inserted data after creation and  also tuple works faster as compare to list."

**4 Describe how dictionaries store data?**

**Ans-** A dictionary in Python stores data as key-value pairs — like a real dictionary.

**5 Why might you use a set instead of a list in Python?**

**Ans-**we can use a set instead of a list when we need:
* Unique values only (sets automatically remove duplicates)
* Faster membership checks (x in set is faster than x in list)

**6 What is a string in Python, and how is it different from a list?**

**Ans-**string is like a list of characters, but you can’t change it after creation.

**7 How do tuples ensure data integrity in Python?**

**Ans-** Tuples are immutable, meaning their values can’t be changed after creation.
This protects the data from being accidentally modified so we Use tuples when we want to lock the data to prevent changes.

**8 What is a hash table, and how does it relate to dictionaries in Python?**

**Ans-** A hash table is a data structure that stores data using key–value pairs for fast access.
In Python, dictionaries are built using hash tables, allowing quick lookups by hashing the keys.

**9 Can lists contain different data types in Python?**

**Ans-** Yes, lists in Python can contain different data types in the same list.
Example: [1, "hello", 3.14, True] is a valid list.

**10 Explain why strings are immutable in Python?**

**Ans-** Strings are immutable in Python to ensure data safety, improve performance, and allow hashing so strings can be used as dictionary keys.

**11 What advantages do dictionaries offer over lists for certain tasks?**

**Ans-**Advantages of Dictionaries over Lists:
* Faster lookups: Accessing values by key is quicker than searching through a list.
* Key-value pairing: Ideal for storing related data like names and phone numbers.
* Clearer code: Makes your data more readable and organized.

**12 Describe a scenario where using a tuple would be preferable over a list?**

**Ans-**When we need to store fixed, unchangeable data like geographical coordinates (latitude and longitude), a tuple is preferable because its immutable nature ensures that the data cannot be accidentally modified.

**13 How do sets handle duplicate values in Python?**

**Ans-**Sets automatically remove duplicate values when we add them, ensuring only unique items are stored.

For example: my_set = {1, 2, 2, 3} will result in {1, 2, 3}.

**14 How does the “in” keyword work differently for lists and dictionaries?**

**Ans-** In lists, the **in** keyword checks if a value exists in the list.
In dictionaries, it checks if a key exists in the dictionary.

**15 Can you modify the elements of a tuple? Explain why or why not?**

**Ans-** No, we cannot modify the elements of a tuple because tuples are immutable, meaning their values cannot be changed after creation to ensure data integrity.

**16 What is a nested dictionary, and give an example of its use case?**

**Ans-**A nested dictionary is a dictionary where the values are other dictionaries. It’s useful for organizing hierarchical data.This structure helps represent complex relationships like employees within departments or products in a category.

**17 Describe the time complexity of accessing elements in a dictionary?**

**Ans-** The time complexity of accessing elements in a dictionary is O(1), meaning it takes constant time regardless of the size of the dictionary, due to the hash table structure used for key lookups.

**18 In what situations are lists preferred over dictionaries?**

**Ans-**Lists are preferred over dictionaries when you need an ordered collection of items, or when you need to access elements by index rather than by key. They are ideal for maintaining sequences of data.

**19 Why are dictionaries considered unordered, and how does that affect data retrieval?**

**Ans-**Dictionaries are considered unordered because the key-value pairs are stored in a hash table rather than a sequential order. This means that the order of items is not guaranteed, but it doesn't affect data retrieval, as keys can still be accessed in constant time (O(1)) using the hash.

**20 Explain the difference between a list and a dictionary in terms of data retrieval?**

**Ans-**In a list, data is retrieved by its index, which is an integer value representing its position. In a dictionary, data is retrieved by its key, which can be any immutable object (like strings, numbers, or tuples).

**Practical Questions**

In [3]:
#Write a code to create a string with your name and print it?
name='Nikita'
name

'Nikita'

In [4]:
#Write a code to find the length of the string "Hello World"?
my_str="Hello World"
len(my_str)

11

In [6]:
#Write a code to slice the first 3 characters from the string "Python Programming"?
str1= "Python Programming"
str1[:3]

'Pyt'

In [7]:
#Write a code to convert the string "hello" to uppercase?
str2="hello"
str2.upper()

'HELLO'

In [8]:
#Write a code to replace the word "apple" with "orange" in the string "I like apple"?
str_1="I like apple"
str_1.replace('apple','orange')

'I like orange'

In [9]:
#Write a code to create a list with numbers 1 to 5 and print it?
lst_1=[1,2,3,4,5]
lst_1

[1, 2, 3, 4, 5]

In [10]:
#Write a code to append the number 10 to the list [1, 2, 3, 4]?
lst_2=[1,2,3,4,5]
lst_2.append(10)
lst_2

[1, 2, 3, 4, 5, 10]

In [11]:
#Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
lst_3=[1,2,3,4,5]
lst_3.remove(3)
lst_3

[1, 2, 4, 5]

In [12]:
#Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
lst_4=['a', 'b', 'c', 'd']
lst_4[1]

'b'

In [13]:
#Write a code to reverse the list [10, 20, 30, 40, 50]?
lst_5=[10, 20, 30, 40, 50]
lst_5[::-1]

[50, 40, 30, 20, 10]

In [14]:
#Write a code to create a tuple with the elements 100, 200, 300 and print it?
tup=(100,200,300)
tup

(100, 200, 300)

In [15]:
#Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?
tup_1=('red', 'green', 'blue', 'yellow')
tup_1[-2]

'blue'

In [16]:
#Write a code to find the minimum number in the tuple (10, 20, 5, 15)?
tup_2=(10, 20, 5, 15)
min(tup_2)

5

In [18]:
#Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?
animal=('dog', 'cat', 'rabbit')
animal.index('cat')

1

In [21]:
#Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruit=('banana','orange','kiwi')
'kiwi' in fruit

True

In [20]:
#Write a code to create a set with the elements 'a', 'b', 'c' and print it.
st={'a', 'b', 'c'}
st

{'a', 'b', 'c'}

In [23]:
#Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
st_1={1, 2, 3, 4, 5}
st_1.clear()
st_1

set()

In [24]:
#Write a code to remove the element 4 from the set {1, 2, 3, 4}.
st_2={1, 2, 3, 4}
st_2.remove(4)
st_2

{1, 2, 3}

In [25]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
st_3={1, 2, 3}
st_4={3, 4, 5}
st_3.union(st_4)

{1, 2, 3, 4, 5}

In [26]:
#Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
st_5={1, 2, 3}
st_6={3, 4, 5}
st_5.intersection(st_6)

{3}

In [27]:
#Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
dic={'name':'Nikita','age':20,'city':'Mumbai'}
dic

{'name': 'Nikita', 'age': 20, 'city': 'Mumbai'}

In [28]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
dic_1={'name': 'John', 'age': 25}
dic_1['country']='USA'
dic_1

{'name': 'John', 'age': 25, 'country': 'USA'}

In [29]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
dic_2={'name': 'Alice', 'age': 30}
dic_2['name']

'Alice'

In [30]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
dic_3={'name': 'Bob', 'age': 22, 'city': 'New York'}
dic_3.pop('age')
dic_3

{'name': 'Bob', 'city': 'New York'}

In [31]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.
person = {'name': 'Alice', 'city': 'Paris'}
print("city" in person)

True

In [33]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.
# list
my_list = [1, 2, 3]

# tuple
my_tuple = ('apple', 'banana', 'cherry')

# dictionary
my_dict = {'name': 'Nikita', 'age': 25}

# Printing all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Nikita', 'age': 25}

In [34]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random
random_numbers = random.sample(range(1, 101), 5)
random_numbers.sort()
random_numbers

[28, 40, 41, 79, 99]

In [36]:
#28. Write a code to create a list with strings and print the element at the third index.
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
my_list[2]

'cherry'

In [37]:
#29. Write a code to combine two dictionaries into one and print the result.
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}
dict1.update(dict2)
dict1

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [38]:
#30. Write a code to convert a list of strings into a set.
my_list = ['apple', 'banana', 'cherry', 'apple', 'banana']
my_set = set(my_list)
my_set

{'apple', 'banana', 'cherry'}